<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Live Feed - An universal app!</title>
  <!-- <link rel="stylesheet" href="/css/bundle.css"> -->
  <link rel="stylesheet" href="/vendors/foundation/css/foundation.min.css">
  <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css">

  <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
  <div id="main"><%- markup -%></div>
  <script>
  window.__PRELOADED_STATE__ = '<%= currentState %>';
  </script>
  <script src="/js/client-bundle.js"></script>
</body>
</html>
